<%- include("Partials/header.ejs") %>
<div class="Head"><div style="display: inline;">E-Commerce</div></div>
<div class="Nav">
    <div id="home" style="margin:  3px 3px 3px 3px;"><a href="https://google.com">Home</a></div>
    <div id="checkout" style="margin: 3px 3px 3px 3px"><a href="">Checkout <sup>2</sup></a></div>
    <div id="payment" style="margin: 3px 3px 3px 3px"><a href="">Payment</a></div>

    <form style="margin: 3px 3px 3px" id="Search" method="post">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="Submit">
    </form>
    <form style="margin: 3px 3px 3px" action="/feedback" method="get">
        <button type="submit">Feedback</button>
    </form>
</div>
<div id="PHead" style="color: white;
text-decoration: underline;">
    Products
</div>
<div class="images">
<div><img id="LArrow" src="https://www.downloadclipart.net/large/left-arrow-png-file.png"></div>
<div class="1 imag" id="img1" style="padding-right: 20px;">
   <a class="img1" href="https://www.amazon.in/Sony-WF-C700N-Cancellation-Multipoint-Support-Sage/dp/B0C9ZSN3P1/ref=sr_1_2_sspa?adgrpid=1316117023929555&dib=eyJ2IjoiMSJ9.HJAFnU3SJw9bn5ayGoOABykwnRqwV5UWaoC0Q4CwKIJvw7wHTW84b0zsKHOJYokBTdosREy29V5_23vvykAZ25Jj0CcLbFPkJevAqkyAH7EIp_rQ9dB5o_fBLH59YO_DZrTEmu7qDGCIAGH_7VQL6sidm3po5Uf5HHYiTwsUAiYdrE1mGeG3sm2A7FO5YRYvZg_9frkoQap8nBMMI5LDeT_Qdi8aenW9hNgGl0uN5bI.iRA0whkD4Y0jxr0M5lZ9Ll75Qt1N_Gmgwlwj2UQEY70&dib_tag=se&hvadid=82257573765817&hvbmt=be&hvdev=c&hvlocphy=1669&hvnetw=o&hvqmt=e&hvtargid=kwd-82258188991387%3Aloc-90&hydadcr=29882_2231746&keywords=earphone%27&msclkid=a107926ce70e12fe001af5c77ccc74c0&qid=1739299791&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1"  ><img class="img1" src="https://m.media-amazon.com/images/I/61+xiaxSUGL._SX679_.jpg"></a>
</div>
<div class="2 imag" id="img2" style="padding-right: 20px;"><a class="img2" href="https://www.amazon.in/Daikin-Fixed-Copper-Filter-FTL50U/dp/B09R4QLDWK/ref=sr_1_13?_encoding=UTF8&content-id=amzn1.sym.58c90a12-100b-4a2f-8e15-7c06f1abe2be&dib=eyJ2IjoiMSJ9.LpujZ4uISPUK8sa_6yNGVbbyMJIAUrgL450-fok67C7_zXZn3zbn5j0hBjG5GHPBSndOI4NEzbUgndQLwiGg4aQwZW2rB2nUE1khjHZwfwA4pYGRCzvBohEVofIMHJCuqDfFbQn1DQmkhObsyMHRHwUiMDUU2tKLftIfOpOR8qvvATv2hWderyj-oluVK6uBaFTLk7CCpCEVGKyY9MZpHf9FI31QaDhv8bD8zqaX1gOw9FR6xRdxqPxS4f0X0laDZaGHgJ2w2f6R94FsvYbhgyIyqfh2s2HblBueJIX9dmrJNKtJRau0auRxdgU13Q6wWODLIdKPSeSPOT6KZmYj28D4PSFipCfnPp3FvNxTEA4.ZlxHLxjx-1v8BzPX0tLDwJmpGPHUQ7EGWjVq-GvKEco&dib_tag=se&pd_rd_r=25963b7c-7fb9-4920-9459-d5e24faea2f1&pd_rd_w=pSu9Q&pd_rd_wg=8YKvg&qid=1739550736&refinements=p_85%3A10440599031&rps=1&s=kitchen&sr=1-13&th=1"><img class="img2" src="https://m.media-amazon.com/images/I/21997wd3e4L._SY445_SX342_QL70_FMwebp_.jpg"></a></div>

<div class="3 imag" id="img3" style="padding-right: 20px;"><a class="img3" href="https://www.amazon.in/SOFTSPUN-Microfiber-Cleaning-Detailing-Polishing/dp/B077BFH786/ref=zg_bs_c_automotive_d_sccl_1/262-1102075-8001250?pd_rd_w=YXMSQ&content-id=amzn1.sym.cde02f8b-0594-439d-9e93-f4cced7ce3ce&pf_rd_p=cde02f8b-0594-439d-9e93-f4cced7ce3ce&pf_rd_r=1EM0FWNECD9TM6TWDBVP&pd_rd_wg=tmJ1M&pd_rd_r=ee0c1ad2-ffaf-4fae-aec0-a744d67b2306&pd_rd_i=B077BFH786&th=1"><img class="img3" src="https://m.media-amazon.com/images/I/51ic-PsBi-L._SX300_SY300_QL70_FMwebp_.jpg"></a></div>

<div class="4 imag" id="img4" style="padding-right: 20px;"><a class="img2" href="https://www.amazon.in/GM-Modular-3060-Book-Multicolour/dp/B008XT42JU/ref=pd_rhf_dp_s_pd_crcbs_d_sccl_1_5/262-1102075-8001250?pd_rd_w=uhz7k&content-id=amzn1.sym.bc7f710c-555f-4ed6-8aed-005a29b438d8&pf_rd_p=bc7f710c-555f-4ed6-8aed-005a29b438d8&pf_rd_r=NJB2RQJ809952NPAQ1YZ&pd_rd_wg=Jz73w&pd_rd_r=f236107b-ad41-4ec0-a25d-15454f947355&pd_rd_i=B008XT42JU&th=1"><img class="img2" src="https://m.media-amazon.com/images/I/21qKn0ChHNL._SY300_SX300_QL70_FMwebp_.jpg"></a></div>

<div class="5 imag" id="img5" style="padding-right: 20px;"><a class="img1" href="https://www.amazon.in/GTY-Football-Hightop-Training-Athletic/dp/B091Q655Q1/ref=sr_1_33?crid=FTYULCI6EP71&dib=eyJ2IjoiMSJ9.6wsuf2cR-XLxi_1t0kc7zlOwdJLDWmMJtnFx-UZ0J-ozcH9FaFF6VRReNbMCcSONMuuPiZm8F1z_fYcKSgA_yeXotaPYeBZKzUFpAn0oE_50vBUzr79AeEPLZ-Y8xm3lzbcmVJX0xriYeMSG3Icaqc9WDy26ABuvXOeH3kDZiVxWx3ZIuRivswC7evvMHydV8vh9u6w7_UbGhpMgqyLA30zcODhIbagnq20fI3wC72Ng_uq7EwtHpLfspoAkU_JnHL1eXDtk1PnjxcvlIUdIVb8KK9phEciDWtx5r5N42eKRnNYr98cEO8JVPwP6Ezj1HbeXDdoIAgcvQ45qbRf4VWfmkAefqZihtU8bEaezvtpAInLmvbwph9PK-JLN3Ce5yxganC65BO2aXGbGZepUE-UgyB8L05MCS1jvQuwHEnyo1wijmombbNnXCT0PJ1fD.EqTJecI9w4HyzWN8ZsQ8dx9YdgTb1ZIXCKaZvQ9Tues&dib_tag=se&keywords=footboots+boots&qid=1739551104&sprefix=footboots%2Caps%2C240&sr=8-33"><img class="img1" src="https://m.media-amazon.com/images/I/61BPFBOBV8L._SY695_.jpg"></a></div>

<div><img  id="RArrow" src="https://th.bing.com/th/id/OIP.zAk5CQCf8H_09pgNAwcUugHaFy?rs=1&pid=ImgDetMain"></div>
</div>

<script>
const images = document.querySelectorAll(".imag");
let dq = Array.from(images.keys());

function swapImages(indx1, indx2) {
    let img1 = images[indx1].querySelector("img");
    let img2 = images[indx2].querySelector("img");

    let link1 = images[indx1].querySelector("a");
    let link2 = images[indx2].querySelector("a");

    // Swapping the src of images
    let tempSrc = img1.src;
    img1.src = img2.src;
    img2.src = tempSrc;

    // Swapping the href of links
    let tempHref = link1.href;
    link1.href = link2.href;
    link2.href = tempHref;
}
function pressbutton(button1) {
        button1.classList.add("press"); 
        setTimeout(function () {
          button1.classList.remove("press"); 
        }, 100);
      }


document.getElementById("LArrow").addEventListener("click", function () {
    var button=document.querySelector("#LArrow");
    pressbutton(button);
    let value = dq.shift();
    dq.push(value);
    for(let i=0;i<images.length-1;i++){
    swapImages(dq[i], dq[i+1]);
    }
});

document.getElementById("RArrow").addEventListener("click", function () {
    var button=document.querySelector("#RArrow");
    pressbutton(button);
    let value = dq.pop();
    dq.unshift(value);

    for (let i = images.length-1; i >0; i--) {
        swapImages(dq[i], dq[i-1]);
    }
});

</script>
<%- include("Partials/footer.ejs")%>;